* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .main {
    width: 100%;
    height: 60px;
    background-color: black;
  }
  .icon {
    color: white;
    padding-top: 10px;
  }
  #anch1 {
    margin-left: 20px;
  
    align-items: center;
  }
  
  #anch2 {
    margin-left: 20px;
  }
  #anch3 {
    margin-left: 20px;
  }
  
  h2 {
    color: white;
    font-weight: bolder;
    font-size: 15px;
    padding-top: 10px;
    text-align: left;
  }
  
  .navbar {
    width: 100%;
    background-color: #fea44a;
    border: 2px, solid, black;
  }
  .navicon {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
  }
  .button {
    text-decoration: none;
    color: white;
    width: 100px;
    padding-top: 10px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    text-align: center;
  }
  .button:hover {
    background-color: #fe5d19;
  }
  .button::after {
    background-color: #fe5d19;
  }
  img{
    width: 100%;
    height: 300px;
    border: 2px,solid,black;
  }
  fieldset{
    border: 2px,solid,black;
    border-radius: 10px;
    margin-top: 5px; 
    display: flex;
    justify-content: space-around;
  }
  legend{
    text-align: center;
    background-color: yellow;
    color: black;
    text-transform: uppercase;
  }
  .footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
  }
  
  .footer-content {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .footer-bottom {
    margin-top: 10px;
    font-size: 14px;
  }
  